<template>
  <div>
    <h5>Campanias</h5>
    <b-list-group>
      <b-list-group-item button v-for="c in campanias" v-bind:key="c.id">
        <router-link :to=" '/campanias/' + c.id +'/elements'">{{ c.name }}</router-link>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>


<script>
export default {
  created() {
    this.findAll();
  },
  data() {
    return {
      campanias: []
    };
  },
  methods: {
    findAll: function() {
      fetch("http://localhost:8000/api/campanias/?format=json")
        .then(res => res.json())
        .then(res => (this.categories = res));
    }
  }
};
</script>