<template>
  <div>
    <!-- inicia tabla index -->
    <div class="card m-4 ">
      <div class="card-body">
        <h1>Intereses</h1>
  
        <div class="d-flex justify-content-between align-items-bottom my-4">
        </div>

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
             
              <th class="text-center">¿Activo?</th>
              <th class="text-center">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(row, index) in this.datos.data.response.main_child.detail.audience_interests" :key="index">
              <td>{{ row.name }}</td>
              <td>{{ row.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
const axios = require("axios");

export default {
  created() {
    this.find();
  },
  data() {
    return {
      element: Object,
      category: Object,
      type: Object,
      datos: "",
    };
  },
  mounted() {
      const params = {
                  username: 'leonidasesteban',
                  network: 'instagram',
                  reload: 'true'
              };
     let url = 'https://sandbox.core.api.brandme.la/api/v2/spotlight/instagram/';
      axios.post(url,params,
      {headers: {
           'Authorization':'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjE0NzI4Njk3LCJqdGkiOiI2OWU4MTQ0NzQ0M2U0NDBmOGE5YTI3MDdiZDhjMjlkNSIsInVzZXJfaWQiOjF9.mEy_ehCw5h2BGjfbwgg5dFTX4t19dzSzz_lPsf73l-w',   
      }
    }
  )
  .then((response) => {
        this.datos = response; 
        console.log(this.datos.data.response.main_child.detail.audience_interests);
    },
    (error) => {
     console.log(error);
    }
  );
   
  },
  methods: {
    // Función para traer datos
    getDatos() {
  
    },
  },
};
</script>

<style >
.box {
  border: 3px solid #ccc;
  margin: 5px 0 0 0;
}
</style>