<template>
  <div>
    <b-navbar type="dark" variant="dark" class="mb-3">
      <b-navbar-brand>Vue</b-navbar-brand>


    </b-navbar>
  </div>
</template>


<script>
export default {
  created() {
    this.findAllType();
    this.findAllCategory();
  },
  data() {
    return {
      types: [],
      categories: []
    };
  },
  methods: {
    
  }
};
</script>