<template>
  <div>
    <ListDefault :elements-list="elements" />
  </div>
</template>

<script>
import ListDefault from "../partials/_ListDefault";

export default {
  components: {
    ListDefault
  },
  created() {
    this.findAll();
  },
  data() {
    return {
      datos: [],
      dato: ""
    };
  },
  methods: {
    getDatos() {
      this.seen = true;
      let url = "http://127.0.0.1:8000/api/campania";
      axios.get(url).then(response => {
          console.log(response.data);
          this.datos = response.data;
      });
    },
      // Función para eliminar
      eliminarCampa(dato) {
          Swal.fire({
              title: "¿Deseas Eliminar el Campaña?",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Si"
          }).then(result => {
              if (result.value) {
                  let url = "http://127.0.0.1:8000/api/campania/delete";
                  axios.post(url).then((response) => {
                          Swal.fire(
                              "Eliminado!",
                              "El registro fue eliminado con exito",
                              "success"
                          );
                          this.getDatos();
                      }).catch((error) => {
                      Swal.fire("Ha ocurrido un error");
                  });
              }
          });
      },
  //Función para editar mostrar datos
  editarCampa(dato) {
      let url ="http://127.0.0.1:8000/api/campania/update";
      axios.get(url).then(response => {
              this.idEdit = response.data.id;
              this.form.publicacion   = response.data.name;
              
              this.estado = "edit";
          })
          .catch((error) => {
          Swal.fire("Ha ocurrido un error"); 
          });
  },

  },
  watch: {
    "$route.params.id": function() {
      console.log("Listado de Campanias");
      this.findAll();
    }
  }
};
</script>

<style >
.box {
  border: 3px solid #ccc;
  margin: 5px 0 0 0;
}
</style>