<template>
  <div id="app">
    <Header />
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          
          <br>
          <Types />
        </div>
        <div class="col-md-8">
          <Detail/>
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "./components/Header";
import Detail from "./components/Detail";
import Types from "./components/Types";
export default {
  name: "App",
  components: {
    Header,
    Detail,
    Types
  }
};
</script>
